PORT=9090
DB_USER_NAME=""
DB_PASSWORD=""
DB_URI=mongodb://localhost:27017/
DB_NAME=""
JWT_SECRET=0698dbaf55aa108e77dd8013276c4e0f751d2854b26101b9233277bfcbf937bf
JWT_ACCESS_SECRET=accessSecretKey123
JWT_REFRESH_SECRET=refreshSecretKey999

JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
REDIS_URI=redis://localhost:6379 
node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"