PORT=9090
DB_USER_NAME=""
DB_PASSWORD=""
DB_URI=mongodb://localhost:27017/
DB_NAME=""
JWT_SECRET=ed78df90485d91d18ef8ba2a3bc7f6230f43eb5387a2dbddcd217a4b36914c38
JWT_ACCESS_SECRET=accessSecretKey123
JWT_REFRESH_SECRET=refreshSecretKey999

JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
REDIS_URI=redis://localhost:6379